<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto login-box">
      <h2 class="text-center">User Registration</h2>
      <hr>
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

        <input-text controlName="Fullname" label="Name" (blur)="logValidationErrors()"
          [inputError]="formErrors.Fullname"></input-text>

        <input-radio controlName="Gender" label="Gender" (blur)="logValidationErrors()"
          [inputError]="formErrors.Gender" [itemList]="genderList"></input-radio>

        <input-text controlName="Email" label="Email Address" (blur)="logValidationErrors()"
          [inputError]="formErrors.Email"></input-text>

        <input-text controlName="Mobileno" label="Mobile no" (blur)="logValidationErrors()"
          [inputError]="formErrors.Mobileno"></input-text>

        <input-password controlName="Password" label="Password" (blur)="logValidationErrors()"
          [inputError]="formErrors.Password" [showEye]="true"></input-password>

        <input-password controlName="ConfirmPassword" label="Confirm Password" (blur)="logValidationErrors()"
          [inputError]="formErrors.ConfirmPassword"></input-password>

        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-info float-right" [disabled]="!signUpForm.valid">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>