<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto login-box">
      <h2 class="text-center">User Registration</h2>
      <hr>
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

        <input-text controlName="Fullname" placeholder="Name" (blur)="logValidationErrors()"
          [inputError]="formErrors.Fullname"></input-text>

        <input-text controlName="Email" placeholder="Email Address" (blur)="logValidationErrors()"
          [inputError]="formErrors.Email"></input-text>

        <input-text controlName="Mobileno" placeholder="Mobile no" (blur)="logValidationErrors()"
          [inputError]="formErrors.Mobileno"></input-text>

        <input-text controlName="Password" placeholder="Password" (blur)="logValidationErrors()"
          [inputError]="formErrors.Password"></input-text>

        <input-text controlName="ConfirmPassword" placeholder="Confirm Password" (blur)="logValidationErrors()"
          [inputError]="formErrors.ConfirmPassword"></input-text>

        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-info float-right" [disabled]="!signUpForm.valid">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>