<div class="form-group" [class.is-invalid]="inputError">
  <label>{{label}}:</label><br>
  <div class="form-check-inline" *ngFor="let item of itemList">
    <label class="form-check-label">
      <ng-container *ngIf="!isItemListObject">
        <input type="radio" class="form-check-input" [formControlName]="controlName" [value]="item">{{item}}
      </ng-container>
      <ng-container *ngIf="isItemListObject">
        <input type="radio" class="form-check-input" [formControlName]="controlName"
          [value]="item[valueProp]">{{item[displayProp]}}
      </ng-container>
    </label>
  </div>
  <span class=" invalid-feedback" *ngIf="inputError">
    {{inputError}}
  </span>
</div>